---
title: Control video via external JS interface
---

<div class="demo">
	<h3>Video listening to external JS calls</h3>
	<video id="video">
		<source src="../video/kolor.webm" type="video/webm">
		<source src="../video/kolor.mp4" type="video/mp4">
		<source src="../video/kolor.ogg" type="video/ogg">
	</video>
	<p><span id="play" class="button">Play</span> or <span id="pause" class="button">Pause</span><br/>or click the video image to toggle</p>
</div>
<div class="demo">Back to <a href="https://github.com/m90/seeThru">GitHub</a></div>
<script>

	var playing = false;
	var video = seeThru.create('#video', {start:'external'});

	document.querySelector('#play').addEventListener('click', function(){
		document.querySelector('#video').play();
		playing = true;
	});

	document.querySelector('#pause').addEventListener('click', function(){
		document.querySelector('#video').pause();
		playing = false;
	});

	document.querySelector('#video').addEventListener('click', function(){
		document.querySelector('#video')[playing ? 'pause' : 'play']();
		playing = !playing;
	});

</script>